.top{
    background-color: #e6f5e3;
    width: 100%;
    padding: 10px;
}

.first-section{
    width: 68%;
    display: inline-block;
}

.first-section div:first-child{
    width: 20%;
    text-align: right;
    margin-right: 20px;
    display: inline-block;
}
.first-section div:first-child img{
    vertical-align: 40px;
}
.first-section div:last-child{
    width: 60%;
    display: inline-block;
}
.last-section{
    width: 30%;
    display: inline-block;
    vertical-align: 60px;
}
.last-section hr{
    width: 70%;
    padding: 1px;
}
.last-section h3{
    margin-right: 10px;
    text-align: right;
    margin-bottom: 30px;
}
.last-section div:nth-child(2){
    width: 40%;
}
.customer-section{
    background-color: #f3f8f3;
    width: 100%;
    padding: 10px;
}
.customer-section div:nth-child(1){
    width: 20%;
    display: inline-block;
    margin-right: 15%;
}
.customer-section div:nth-child(2){
    width: 50%;
    display: inline-block;
}
.customer-section div:nth-child(3){
    width: 20%;
    display: inline-block;
    margin-right: 15%;
}
.customer-section div:nth-child(4){
    width: 50%;
    display: inline-block;
}
.product-section{
    background-color: #f3f8f3;
    width: 100%;
    padding-left: 35px;
}
.product-section div:nth-child(2){
    margin-left: 13%;
    margin-top: 5px;
    width: 20%;
    display: inline-block;
    vertical-align: 30px;
}
.product-section div:nth-child(3){
    width: 50%;
    display: inline-block;
    text-align: right;
}
