# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\running-project\invoice-gen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
